<!DOCTYPE html>
<html ng-app="tedTimer">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
    <script src="js/angular-1.6.6.min.js"></script>
    <script src="js/main.js"></script>    
    <title>TED Timer</title>
  </head>
  <body>

    <div ng-controller="timerCtrl">

      <!-- Full screen button -->
      <div class='full_screen'
           onclick="toggleFullScreen()"
           ng-class="{transparent: !showFullScreenIcon, maximize: isMaximize(), minimize: !isMaximize()}"           
           ng-mouseenter="showFullScreenIcon = true"
           ng-mouseleave="showFullScreenIcon = false"
      ></div>

      <!-- Display of <minute>:<secound> -->
      <div id="min_sec_wrap" ng-click="showInputForm = !showInputForm" ng-class="{has_passed: hasPassed}">
        {{zeroPad(minuteDisplay,2)}}:{{zeroPad(secondDisplay,2)}}
      </div>

      <div ng-show="showInputForm">
        <!-- Input of minute -->
        <input type="number" ng-model="inputMinute" placeholder="minute">
        <!-- Start button -->
        <button ng-click="startCount()" ng-disabled="isCounting">Start</button>
        <!-- Reset button -->
        <button ng-click="resetCount()" ng-disabled="!isCounting">Reset</button>
      </div>
    </div>

  </body>
</html>
