<!DOCTYPE html>
<html ng-app="tedTimer">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
    <script src="js/angular-1.6.6.min.js"></script>
    <script src="js/main.js"></script>    
    <title>TED Timer</title>
  </head>
  <body>

    <div ng-controller="timerCtrl">
      <!-- Display of <minute>:<secound> -->
      <div id="min_sec_wrap" ng-class="{has_passed: hasPassed}">
        {{zeroPad(minuteDisplay,2)}}:{{zeroPad(secondDisplay,2)}}
      </div>

      <div id='input_area'>
        <!-- Input of minute -->
        <input type="number" ng-model="inputMinute" placeholder="minute">
        <!-- Start button -->
        <button ng-click="startCount()" ng-disabled="isCounting">Start</button>
        <!-- Reset button -->
        <button ng-click="resetCount()" ng-disabled="!isCounting">Reset</button>
      </div>
    </div>

  </body>
</html>
